<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-light">
        <span class="navbar-brand mb-0 h1">SkyTruth</span>
      </nav>

      <div class="row">
        <div class="col-md-6 col-12">
          <svg id="globe"></svg>
        </div>
        <div class="col-md-6 col-12">
          <div class="dataCard">
            <a id="reportDownloader" href="javascript:void(0);" onclick="downloadReport()">Download full report as JSON</a>
            <h3 id="dataCard__id">POI ID:</h3>
            <p id="dataCard__latLong">POI LAT/LNG:</p>
            <img src="" id="dataCard__snapshot">
            <ul id="dataCard__shipList">
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="lib/jquery-3.4.1.min.js"></script>
    <script src="lib/d3.v4.min.js"></script>
    <script src="lib/topojson.v1.min.js"></script>
    <script src="js/globeController.js"></script>
  </body>
</html>
